<br><br>
<ul>
	<li>
		<%= link_to 'posts',admin_root_path %>
	</li>
	<li>
		<%= link_to 'events',admin_events_path %>
	</li>
	<li>
		<%= link_to 'images',admin_images_path %>
	</li>
	<li>
		<%= link_to 'categories',admin_categories_path %>
	</li>
	<li>
		<%= link_to 'users',admin_users_path %>
	</li>
</ul>
